<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../../icons/icon.png">
  <meta name="description" content="The best restaurant that you can visit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Weststreet</title>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <a href="#content" class="skip-to-content">Skip to content</a>

  <header class="app-bar">
    <div class="app-bar__inner">
      <h1 class="app-bar__brand"><a href="/"><i class="fa-solid fa-seedling"></i> Weststreet</a></h1>

      <button aria-label="menu" id="menu" class="app-bar__menu">☰</button>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#">Favorites</a></li>
          <li class="nav__item"><a href="https://github.com/HestiYuanaMahardika" rel="noopener" target="_blank">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="hero">
    <center>
      <span>Welcome to Weststreet</span>
      <article>
        <p>Weststreet is a website that provides the best restaurants with delicious food, friendly atmosphere, and professional staff</p><br><br><br>
        <a href="#dishes">Search Now</a>
      </article>
    </center>
  </div>

  <main id="content">
    <section class="restaurant">
      <div class="restaurant__inner">
        <h1 class="restaurant__title" align="center"><i class="fa-solid fa-seedling"></i>&nbsp; All Restaurant &nbsp;<i class="fa-solid fa-seedling"></i></h1><br>
        <restaurant-list></restaurant-list>
      </div>
    </section>
  </main>

  <section class="bg-about bg-section" id="about">
    <h1 class="restaurant__title" align="center"><i class="fa-solid fa-handshake"></i>&nbsp; Our Service &nbsp;<i class="fa-solid fa-handshake"></i></h1><br>
    <div class="container-fluid">
      <div class="row about-welcome">
        <div class="col-md-4 col-sm-4">
          <div class="img-about">
            <img src="../../images/about/warm_welcome.jpg" class="img-responsive img-left" alt="picture wedding and birthday party" align="left">
          </div>
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="des-about">
            <h3>Wedding and Birthday Party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur ...</p>
          </div>
        </div>
      </div>

      <div class="row about-welcome">
        <div class="col-md-4 col-sm-4">
          <div class="img-about">
            <img src="../../images/about/delicious_meals.jpg" class="img-responsive img-right" alt="picture business dinner" align="right">
          </div>
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="des-about">
            <h3>Business Dinner</h3>
            <p>Lorem ipsum dolor sit amet, consectetur ...</p>
          </div>
        </div>
      </div>

      <div class="row about-welcome">
        <div class="col-md-4 col-sm-4">
          <div class="img-about">
            <img src="../../images/about/professional_staff.jpg" class="img-responsive img-left" alt="picture professional staff" align="left">
          </div>
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="des-about">
            <h3>Professional Staff</h3>
            <p>Lorem ipsum dolor sit amet, consectetur ...</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-menu bg-section" id="menu">
    <div class="container-fluid">
      <h2 align="center"><i class="fa-regular fa-heart"></i>&nbsp; Favorite Menu &nbsp;<i class="fa-regular fa-heart"></i></h2>
      <div class="row slideanim">
        <hr class="hr-menu"></hr>
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <ul class="list-group">
                <li class="list-group-item">
                  <h4 class="list-group-item-heading"><i class="fa-solid fa-utensils"></i>&nbsp; Rendang<span class="badge pull-right">⭐️ 4.5</span></h4>
                  <p class="list-group-item-text">Daging sapi, santan kelapa, cabai, dan bumbu</p>
                </li>
                <li class="list-group-item">
                  <h4 class="list-group-item-heading"><i class="fa-solid fa-utensils"></i>&nbsp; Sate<span class="badge pull-right">⭐️ 4.5</span></h4>
                  <p class="list-group-item-text">Daging, kacang tanah, cabai, santan, dan kecap</p>
                </li>
                <li class="list-group-item">
                  <h4 class="list-group-item-heading"><i class="fa-solid fa-utensils"></i>&nbsp; Rawon<span class="badge pull-right">⭐️ 4.4</span></h4>
                  <p class="list-group-item-text">Daging sapi, cabai, bawang, taoge, dan telur</p>
                </li>
                <li class="list-group-item">
                  <h4 class="list-group-item-heading"><i class="fa-solid fa-utensils"></i>&nbsp; Bebek Betutu<span class="badge pull-right">⭐️ 4.4</span></h4>
                  <p class="list-group-item-text">Bebek, santan, bawang, ketumbar, merica, kemiri, cabai, serai, dan kemiri</p>
                </li>
                <li class="list-group-item">
                  <h4 class="list-group-item-heading"><i class="fa-solid fa-utensils"></i>&nbsp; Ayam Rica-Rica<span class="badge pull-right">⭐️ 4.4</span></h4>
                  <p class="list-group-item-text">Ayam, bawang merah, bawang putih, jahe, cabe merah dan cabe rawit</p>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-items">
      <address><br>
        <h3>CONTACT US</h3><br>
        <i class="fa fa-phone address"></i> +62896 3407 0000 <br>
        <i class="fa fa-envelope address"></i> weststreet@gmail.com</a>
      </address>
      <ul>
        <li><a href="#">| &nbsp; Help &nbsp;|</a></li>
        <li><a href="#">| &nbsp; About &nbsp;|</a></li>
        <li><a href="#">| &nbsp; Open Hours &nbsp;|</a></li>
      </ul>
    </div>
    <button type="button" class="back-to-top"><i class="fa-sharp fa-solid fa-circle-up"></i>&nbsp; Back to top</button>
    </div>
  </footer>

  <div class="footer-copyright">
    <p>Copyright © 2022 - Weststreet</p>
  </div>

</body>

</html>